<body>
    <section class="funfact-section">
        <div class="auto-container">
            <div class="inner-container clearfix wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="counter-block-one">
                    <div class="inner-box">
                        
                        <div class="icon-box"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="40">0</span><span>+</span>
                        </div>
                        <h3>Variety of Paints and Products Available</h3>
                    </div>
                </div>
                <div class="counter-block-one">
                    <div class="inner-box">
                       
                        <div class="icon-box"><i class="fa fa-tasks" aria-hidden="true"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="2.5">0</span><span>k+</span>
                        </div>
                        <h3>Successfully Completed Projects</h3>
                    </div>
                </div>
                <div class="counter-block-one">
                    <div class="inner-box">
                       
                        <div class="icon-box"><i class="flaticon-user"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="12">0</span><span>+</span>
                        </div>
                        <h3>Satisfied Customers Served Daily</h3>
                    </div>
                </div>
                <div class="counter-block-one">
                    <div class="inner-box">
                       
                        <div class="icon-box"><i class="flaticon-user"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="10">0</span><span>+</span>
                        </div>
                        <h3>Dedicated Team of Professionals</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>