<body>
    <section class="about">
        <div class="about-flex">
          <div class="about-image">
            <img src="/assets1/images/banner/about03.png" alt="banner">
          </div>
          <div class="about-text">
            <h6><i class="flaticon-roof"></i>ABOUT PAREEK COLOURS</h6>
            <h2>Paint Production to Expert Services</h2>
            <p>From our roots in Kolkata, where we began producing Cement Paint and Wall Putty, our journey has been one of relentless expansion and innovation. Today, we not only stand as a 'Quality Product Manufacturer' but also offer a diverse range of professional services that complement our paint manufacturing expertise.</p>

             <p class="p2"> From painting services that bring precision, quality, and vibrant colors to your spaces, to expert waterproofing solutions that ensure the longevity of your structures, and architectural consultancy services guiding you through innovative design concepts and practical solutions, we are dedicated to transforming and enhancing your spaces, proudly serving Kolkata and beyond.</p>        
          </div>
        </div>
      </section>
</body>