
   
    <div class="service">
        <div class="service-content">
            <div class="service-box"><span></span>
                <div class="service-image">
                    <img src="/assets/imgs/PAINTING_SERVICE.png" alt="paint-service">
                </div>
                <div class="service-text">
                    
                    <h5>Painting Services</h5>
                    <p>Offers a comprehensive range of professional painting services, transforming spaces with
                        precision, quality, and a vibrant spectrum of colors.</p>
                </div>
                <div class="service-enquire">
                    <a href="/service-enquire?servicetype=PAINTING_SERVICE">Enquire Now <i class="flaticon-login"></i></a>
                </div>
            </div>
        </div>
        <div class="service-content">
            <div class="service-box"><span></span>
                <div class="service-image">
                    <img src="/assets/imgs/WATERPROOFING_SERVICES.png" alt="waterproofing-service">
                </div>
                <div class="service-text">
                    
                    <h5>Waterproofing</h5>
                    <p>With expertise in waterproofing solutions, We ensure the longevity of your structures,
                        safeguarding them from moisture and weather damage .</p>
                </div>
                <div class="service-enquire">
                    <a href="/service-enquire?servicetype=WATERPROOFING_SERVICES">Enquire Now <i class="flaticon-login"></i></a>
                </div>
            </div>
        </div>
        <div class="service-content">
            <div class="service-box"><span></span>
                <div class="service-image">
                    <img src="/assets/imgs/ARCHITECTURAL_SERVICES.png" alt="architectural-service">
                </div>
                <div class="service-text">
                    
                    <h5>Architectural Consultancy</h5>
                    <p>We provide expert architectural consultancy services, guiding you through innovative design
                        concepts and practical solutions to create spaces that blend aesthetics with functionality.
                    </p>
                </div>
                <div class="service-enquire">
                    <a href="/service-enquire?servicetype=ARCHITECTURAL_SERVICES">Enquire Now <i class="flaticon-login"></i></a>



                </div>
            </div>
        </div>
    </div>
