<%- include('header'), {seoDetails,categorylist, pathPart} %>


  
<div id="main-about">
    <div class="about-info">
      <div class="about-flex-main-1">
        <div class="mainabout-image-1">
          <img src="/assets1/images/ABOUT01.png" class="about1" alt="banner">
          <img src="/assets1/images/ABOUT02.png" class="about2" alt="banner">
        </div>
        <div class="mainabout-text">
          <h6><i class="flaticon-roof"></i>ABOUT PAREEK COLOURS</h6>
          <p class="about-header-2"><b>At Pareek Colours , We believe that the perfect colour combination is akin to the harmonious notes of music. It has the power to set the mood, create a captivating ambiance, and evoke a sense of tranquility.</b></p>
          <div class="main-text1">
          <p>Established in Kolkata, West Bengal, in 2008, Pareek Colours is a testament to the vision and determination of its founder, Shri Satya Narayan Tewari Ji.</p>
    
           <p>Starting with a dream and armed only with honesty and unwavering dedication, he embarked on a decade-long journey that culminated in the birth of Pareek Colours. Today, our company proudly stands as a leader in the realm of quality decorative paint manufacturing.</p>  
           <p>Our journey began with the production of Cement Paint and Wall Putty, but we quickly expanded our product range to include Acrylic Distemper, Water-Based Cement Primers, and PARE-X Emulsions. Within just two years, we earned a reputation as a "Quality Product Manufacturer".</p> 
          </div> 
           <h4>SHRI SATYA NARAYAN TEWARI</h4>
           <span class="designation">FOUNDER</span>   
           <p class="reach">Reach us :</p>
           <p><a href="tel:+91 99032 57867 ">+91 99032 57867 </a>|<a href="mailto:info@pareekcolours.com"> info@pareekcolours.com</a></p>
        </div>
      </div>
    
      <div class="about-flex-main-2">
        <div class="mainabout-text">
          <div class="main-text2">
          <p>In 2012-13, we ventured our way into Synthetic Enamel Market, introducing a range of high-quality products such as PU Enamels, Red Oxide Metal Primers, Synthetic White Primer, and more. In the decorative segment, we expanded our emulsion range with Pare-X Gold Ultimate Exterior Emulsion, Metallica Gold, Silver, Thermal Insulating Paint, and Clear Coat. Under the astute leadership of Sri S.N. Tewari, our company continues to flourish and is on a path to become an industry leader in the eastern market.</p>
           <p>Our Research & Development Department, led by few of the finniest in the business, has played a pivotal role in our growth journey.</p>  
           <p>We use premium quality pigments, resins, binders, additives and chemicals to manufacture our products and ensure that the quality of our products is in line with your requirements. We also believe in providing the best cost to quality ratio by offering our products at a very competitive price. Our highly market concentrated offerings have made us climb the ladder of success in very little time. We aspire to successfully uphold the credibility of our company that has been created in this very short span of time.</p>
           <p>The product range includes decorative , architectural , industial and protective Coatings.</p> 
          </div> 
           
        </div>
        <div class="mainabout-image">
          <img src="/assets1/images/ABOUT03.png" class="about1" alt="banner">
          <img src="/assets1/images/ABOUT04.png" class="about2" alt="banner">
        </div>
      </div>
    </div>
    </div>
    
    <div class="affiliation">
      <div class="affiliate-head">
      <h6><i class="flaticon-roof"></i>our affiliations</h6>
      <h2>commitment to excellence</h2>
    </div>
    
    <div class="aff-data">
      <img src="/assets1/images/ABOUT05.png" alt="banner">
      <img src="/assets1/images/ABOUT06.png" alt="banner">
      <p>Furthermore, we are proud to be associated with esteemed organisations, including membership in "Micro, Small & Medium Enterprises (MSME)" under registration number WB10A0002414, and recognition by the "National Small Industries Corporation (NSIC)" under registration number NSIC/GP/KOL/2016/0023215, as well as our affiliation with the Paint Association of India. Additionally, our company's trademark is registered under the "Trade Marks Act, 1999" under Class 2 with registration number 2462892. This reaffirms our commitment to excellence and quality in every aspect of our business.</p>
    </div>
    
    </div>
    


    <%- include('footer'), { pathPart} %>