<%- include('header'), {seoDetails,categorylist, pathPart} %>

<main id="main-blog">
  <section id="home-blogs">
   
      <%- include('./partials/blogpost.ejs') %>

   </section>
</main>
   <%- include('footer') %>
