<%- include('header'), {seoDetails,categorylist, pathPart} %>
<main id="palette">
    
    <div class="container">
        <div class="tabs">
            <!-- Tabs will be created here dynamically -->
        </div>
        <div class="tab-content">
            <div class="shadeName"></div>
        </div>
    </div>
  

   </main>


   
<%- include('footer'), { pathPart} %>