<%- include('header'), {seoDetails,categorylist, pathPart} %>

<body id="service-body">
    <main id="main-service">
        <div class="service-head">
            <h6><i class="flaticon-roof"></i>Elevate Your Living Space</h6>
            <p>Painting, Waterproofing, and Architectural Excellence</p>
        </div>
        <%- include('./partials/servicescontent.ejs') %>
    </main>
</div>

<%- include('footer'), { pathPart} %>